* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f8fafc;
}

/* CENTER CONTAINER */
.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;        /* vertical center */
  justify-content: center;    /* horizontal center */
}

/* FORM CARD */
.auth-card {
  width: 420px;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* TITLE */
.auth-card h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #0f172a;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 14px;
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

/* TEXT */
.auth-card p {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #475569;
}

.auth-card span {
  color: #2563eb;
  cursor: pointer;
}
html, body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: system-ui, sans-serif;
}

#root {
  min-height: 100vh;
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


